/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
@import "main1.css";

#text,#name{
    width: 200px;
    font-size: 20px;
    border: 2px solid red;
}

#email{
    width: 200px;
    font-size: 20px;
    border: 2px solid green;
}

.example{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
}

h1{
    color: green ;
    font-size: 30px;
    background-color: purple !important;
}

[alt="logo"]{
    border: 2px dotted magenta;
}


[type="email"]{
    background-color: pink;
}

a:active{color: orchid;}

a:visited{color: darkslategray;}

a:link{color: saddlebrown;}

.example:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

input:disabled{color: black;}

input:checked{accent-color:rgb(227, 14, 110);}

#p{
    /* margin: 100px; */

    /* margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px; */

    /* single handed property */

    /* margin: 0px 100px; */

    /* margin: 100px 10px 100px 20px; */

    /* padding: 20px; */
/* 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */

    /* padding: 10px 20px; */

    padding: 20px 10px 2px 8px;





    border: 1px solid;
}

#p~p{
    font-size: 20px;
    color: coral;
}

#divs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid red;
}

#divs div{
    min-height: 100px;
    min-width: 100px;
    background-color: plum;
    justify-content: center;
    align-items: center;
    display: flex;

    /* margin: 10px; */
    padding: 10px;
    border: 3px solid rgb(12, 186, 255);
}


img{
    width: 80px;
    float: right;
}