
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#main{
    display: flex;
    gap: 10px;
    width: 100%;
    background-color:bisque;
    border: 2px solid black;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
}

#main div{
    width: 200px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}