 * {
      margin: 0;
      padding: 0;
    }

    @keyframes k-name {
      0% { transform: translateX(0); }
      50% { transform: translateX(500px); }
      100% { transform: translateX(0); }
    }

    #move {
      position: relative;
    }

    p {
      color: red;
      position: absolute;
      /* animation: k-name 5s infinite; */
    }

    .line {
      width: 100vw;
      height: 2px;
      background-color: red;
    }

    @media only screen and (max-width: 1100px) {
      .line {
        background-color: blue;
      }
      p {
        color: blue;
        font-size: 30px;
      }
    }

    @media only screen and (max-width: 700px) {
      .line {
        background-color: green;
      }
      p {
        color: green;
      }
    }